# Backend
backend/target/
backend/*.iml
backend/.idea/

# Frontend
frontend/.dart_tool/
frontend/.idea/
frontend/build/
frontend/*.iml
frontend/.metadata
frontend/pubspec.lock

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Local Environment
.env
.venv/
